<div sr-lra-item class="row justify-content-center">
  <div class="sr-route-header">
    <p class="sr-route-title">My articles</p>
    <p class="sr-route-subtitle">
      Articles I wrote about various software development topics
    </p>
  </div>
  <div class="col-8">
    <ng-container *ngIf="articleSlides$ | async as slides; else loading">
      <showroom-bs-carousel [slides]="slides" />
    </ng-container>
    <ng-template #loading
      ><showroom-bs-carousel [isLoading]="true" id="placeholder"
    /></ng-template>
  </div>
</div>
