.sr-route-header {
  text-align: center;
  margin-bottom: 3rem;

  & > .sr-route-title {
    font-size: xxx-large;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  & > .sr-route-subtitle {
    font-size: large;
    font-weight: 600;
  }
}
