<div>
  <div class="header">
    <a class="sr-logo" (click)="animateRouting('')">
      <h1>My Showroom</h1>
    </a>
    <p class="abstract">
      This project aims at being a minimalistic showcase <br />
      for a stack composed of a GIT monorepo managed by Nx <br />
      wrapping three Angular micro frontend modules federated by Webpack <br />
      consisting of a shell and two remotes <br />
      implementing the same structure by Material and Bootstrap styles <br />
    </p>
  </div>

  <div class="btns-container" *ngIf="activeRoute$ | async as activeRoute">
    <div class="btns-col">
      <showroom-logo-button
        title="Open Material frontend as remote"
        (click)="animateRouting('fe-mat/home')"
        [activated]="activeRoute.url === 'fe-mat'"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 179.2 192.7">
          <defs>
            <style>
              .cls-1 {
                fill: #ffa726;
              }

              .cls-2 {
                fill: #fb8c00;
              }

              .cls-3 {
                fill: #ffe0b2;
              }

              .cls-4 {
                fill: #fff3e0;
              }

              .cls-5 {
                fill: #fff;
              }
            </style>
          </defs>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <polygon
                class="cls-1"
                points="89.4 0 89.4 0 89.4 0 0 32 13.5 150.4 89.4 192.7 89.4 192.7 89.4 192.7 165.4 150.4 179.2 32 89.4 0"
              />
              <polygon
                class="cls-2"
                points="89.4 0 89.4 21.4 89.4 21.4 89.4 118.7 89.4 118.7 89.4 192.7 89.4 192.7 165.4 150.4 179.2 32 89.4 0"
              />
              <polygon
                class="cls-3"
                points="102.9 146.3 39.6 115.8 75.9 93.4 139.6 124 102.9 146.3"
              />
              <polygon
                class="cls-4"
                points="102.9 122.8 39.6 92.2 75.9 69.9 139.6 100.5 102.9 122.8"
              />
              <polygon
                class="cls-5"
                points="102.9 99.3 39.6 68.7 75.9 46.3 139.6 76.9 102.9 99.3"
              />
            </g>
          </g>
        </svg>
      </showroom-logo-button>

      <a [href]="remoteUrls['fe-mat'] + '/home'" target="_blank">
        <showroom-logo-button
          [noStuck]="true"
          title="Open Material frontend as standalone app in new tab"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 179.2 192.7">
            <defs>
              <style>
                .cls-1 {
                  fill: #ffa726;
                }

                .cls-2 {
                  fill: #fb8c00;
                }

                .cls-3 {
                  fill: #ffe0b2;
                }

                .cls-4 {
                  fill: #fff3e0;
                }

                .cls-5 {
                  fill: #fff;
                }
              </style>
            </defs>
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <polygon
                  class="cls-1"
                  points="89.4 0 89.4 0 89.4 0 0 32 13.5 150.4 89.4 192.7 89.4 192.7 89.4 192.7 165.4 150.4 179.2 32 89.4 0"
                />
                <polygon
                  class="cls-2"
                  points="89.4 0 89.4 21.4 89.4 21.4 89.4 118.7 89.4 118.7 89.4 192.7 89.4 192.7 165.4 150.4 179.2 32 89.4 0"
                />
                <polygon
                  class="cls-3"
                  points="102.9 146.3 39.6 115.8 75.9 93.4 139.6 124 102.9 146.3"
                />
                <polygon
                  class="cls-4"
                  points="102.9 122.8 39.6 92.2 75.9 69.9 139.6 100.5 102.9 122.8"
                />
                <polygon
                  class="cls-5"
                  points="102.9 99.3 39.6 68.7 75.9 46.3 139.6 76.9 102.9 99.3"
                />
              </g>
            </g>
          </svg>
          <svg
            class="sr-badge"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
            />
          </svg>
        </showroom-logo-button>
      </a>
    </div>

    <div class="btns-col">
      <showroom-logo-button
        title="Open Bootstrap frontend as remote"
        (click)="animateRouting('fe-bs/home')"
        [activated]="activeRoute.url === 'fe-bs'"
      >
        <svg
          viewBox="0 0 414.09152 468.61945"
          class="align-middle"
          version="1.1"
          id="svg16"
          width="414.09152"
          height="468.61945"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg"
        >
          <defs id="defs8">
            <linearGradient id="a">
              <stop offset="0" stop-color="#0143a3" id="stop2" />
              <stop offset="1" stop-color="#0273d4" id="stop4" />
            </linearGradient>
            <linearGradient
              xlink:href="#a"
              id="b"
              gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(1.3060853,0,0,1.3060853,351.44137,-801.94136)"
              x1="-111"
              y1="967.862"
              x2="-110.5"
              y2="617.362"
            />
          </defs>
          <path
            d="M 206.2021,5.2640978 408.94512,84.792775 389.34346,351.94417 207.32122,462.83747 24.179857,350.82408 5.1392271,85.351845 Z"
            fill="url(#b)"
            fill-rule="evenodd"
            stroke="#ffffff"
            stroke-width="20"
            id="path10"
            style="fill: url(#b); stroke-width: 9.79104; stroke-dasharray: none"
          />
          <path
            d="m 206.03491,1.2154448 1.716,467.4039952 185.675,-113.635 19.725,-272.723995 z"
            fill-rule="evenodd"
            fill-opacity="0.098"
            id="path12"
          />
          <path
            d="m 171.04391,230.94344 v 77.444 h 45.872 q 23.078,0 34.12,-9.485 11.186,-9.628 11.186,-29.308 0,-19.82 -11.185,-29.165 -11.043,-9.486 -34.12,-9.486 h -45.874 z m 0,-86.93 v 63.71 h 42.333 q 20.953,0 31.147,-7.786 10.336,-7.929 10.336,-24.069 0,-15.998 -10.336,-23.927 -10.194,-7.928 -31.147,-7.928 h -42.334 z m -28.6,-23.503 h 73.056 q 32.705,0 50.403,13.592 17.697,13.592 17.697,38.651 0,19.397 -9.06,30.865 -9.062,11.468 -26.618,14.3 21.096,4.53 32.705,18.971 11.751,14.3 11.751,35.82 0,28.316 -19.255,43.749 -19.254,15.432 -54.791,15.432 h -75.887 v -211.38 z"
            fill="#ffffff"
            id="path14"
          />
        </svg>
      </showroom-logo-button>

      <a [href]="remoteUrls['fe-bs'] + '/home'" target="_blank">
        <showroom-logo-button
          [noStuck]="true"
          title="Open Bootstrap frontend as standalone app in new tab"
        >
          <svg
            viewBox="0 0 414.09152 468.61945"
            class="align-middle"
            version="1.1"
            id="svg16"
            width="414.09152"
            height="468.61945"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
          >
            <defs id="defs8">
              <linearGradient id="a">
                <stop offset="0" stop-color="#0143a3" id="stop2" />
                <stop offset="1" stop-color="#0273d4" id="stop4" />
              </linearGradient>
              <linearGradient
                xlink:href="#a"
                id="b"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(1.3060853,0,0,1.3060853,351.44137,-801.94136)"
                x1="-111"
                y1="967.862"
                x2="-110.5"
                y2="617.362"
              />
            </defs>
            <path
              d="M 206.2021,5.2640978 408.94512,84.792775 389.34346,351.94417 207.32122,462.83747 24.179857,350.82408 5.1392271,85.351845 Z"
              fill="url(#b)"
              fill-rule="evenodd"
              stroke="#ffffff"
              stroke-width="20"
              id="path10"
              style="
                fill: url(#b);
                stroke-width: 9.79104;
                stroke-dasharray: none;
              "
            />
            <path
              d="m 206.03491,1.2154448 1.716,467.4039952 185.675,-113.635 19.725,-272.723995 z"
              fill-rule="evenodd"
              fill-opacity="0.098"
              id="path12"
            />
            <path
              d="m 171.04391,230.94344 v 77.444 h 45.872 q 23.078,0 34.12,-9.485 11.186,-9.628 11.186,-29.308 0,-19.82 -11.185,-29.165 -11.043,-9.486 -34.12,-9.486 h -45.874 z m 0,-86.93 v 63.71 h 42.333 q 20.953,0 31.147,-7.786 10.336,-7.929 10.336,-24.069 0,-15.998 -10.336,-23.927 -10.194,-7.928 -31.147,-7.928 h -42.334 z m -28.6,-23.503 h 73.056 q 32.705,0 50.403,13.592 17.697,13.592 17.697,38.651 0,19.397 -9.06,30.865 -9.062,11.468 -26.618,14.3 21.096,4.53 32.705,18.971 11.751,14.3 11.751,35.82 0,28.316 -19.255,43.749 -19.254,15.432 -54.791,15.432 h -75.887 v -211.38 z"
              fill="#ffffff"
              id="path14"
            />
          </svg>
          <svg
            class="sr-badge"
            xmlns="http://www.w3.org/2000/svg"
            width="50%"
            height="50%"
            x="80%"
            y="-20%"
            fill="lightslategrey"
            viewBox="0 0 512 512"
          >
            <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
            />
          </svg>
        </showroom-logo-button>
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
