:host {
  display: block;
  position: relative;

  --sr-logo-button-size-base: 12rem;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 1rem;

  @media (min-width: 576px) {
    padding: 2rem;
  }

  @media (min-width: 768px) {
    padding: 4rem;
  }

  .sr-logo {
    flex-basis: 100%;
    position: relative;

    & h1 {
      font-family: 'Cinzel Decorative';
      font-size: 3rem;

      filter: drop-shadow(0.2rem 0.2rem 0.2rem black)
        drop-shadow(-0.2rem -0.2rem 0.1rem rgb(var(--sr-blue-light-100), 0.4));

      @media (min-width: 576px) {
        font-size: 4rem;
      }

      @media (min-width: 992px) {
        font-size: 6rem;
      }
    }
  }

  .abstract {
    text-align: center;
    flex-grow: 1;
    margin-top: 2em;

    @media (min-width: 576px) {
      font-size: 1.2rem;
    }
  }
}

.btns-container {
  display: flex;
  justify-content: space-evenly;
  --sr-logo-button-size: calc(var(--sr-logo-button-size-base) / 2);

  @media (min-width: 576px) {
    padding-bottom: 2rem;
    --sr-logo-button-size: calc(var(--sr-logo-button-size-base) / 3 * 2);
  }

  @media (min-width: 768px) {
    padding-bottom: 4rem;
    --sr-logo-button-size: var(--sr-logo-button-size-base);
  }

  .btns-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    & > showroom-logo-button {
      margin-left: 20%;
      margin-right: 20%;
    }

    & > a {
      margin-right: auto;
      --sr-logo-button-size: calc(var(--sr-logo-button-size-base) / 4);

      @media (min-width: 576px) {
        margin-top: 1rem;
        --sr-logo-button-size: calc(var(--sr-logo-button-size-base) / 3);
      }

      @media (min-width: 768px) {
        --sr-logo-button-size: calc(var(--sr-logo-button-size-base) / 2);
      }
    }

    &:last-of-type > a {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.sr-badge {
  display: inline-block;
  position: relative;
  top: -30%;
  right: -30%;
  width: 20%;
  height: 20%;
  fill: lightslategrey;
  border-radius: 100%;
  background-color: aliceblue;
  padding: 0.5em;
}
