<div class="header">
  <h1 class="logo">My Showroom</h1>
  <p class="abstract">This project aims at being a minimalistic showcase <br>
      for a stack composed of a GIT monorepo managed by Nx <br>
      wrapping three Angular micro frontend modules federated by Webpack <br>
      consisting of a shell and two remotes <br>
      implementing the same structure by Material and Bootstrap styles <br>
  </p>
</div>
<div class="btns-container">
  <a routerLink="fe-mat">FeMat</a>
  <a routerLink="fe-bs">FeBs</a>
</div>
<router-outlet></router-outlet>