<div sr-lra-item class="row justify-content-center">
  <div class="sr-home-header">
    <p class="sr-home-title">My projects</p>
    <p class="sr-home-subtitle">
      Personal projects source code publicly available
    </p>
  </div>
  <div class="col-8">
    <ng-container *ngIf="repoSlides$ | async as slides; else loading">
      <showroom-bs-carousel [slides]="slides" />
    </ng-container>
    <ng-template #loading
      ><showroom-bs-carousel [isLoading]="true" id="placeholder"
    /></ng-template>
  </div>
</div>
