:host {
  --inner-gap: 5%;
  --slide-width: 80%;
}

.slider-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.slider {
  width: 50vw;
  overflow: hidden;
}

.inner {
  display: flex;  
  transition: transform 0.3s;
  justify-content: flex-start;
  gap: var(--inner-gap);
}

.slide {
  flex-shrink: 0;
  width: var(--slide-width);
}
