@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import 'sr-palette';

html {
  font-size: 16px;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  position: relative;
  line-height: 1;
  background-color: var(--sr-body-bg);

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: var(--sr-background-gradient);
    transform: skew(20deg, 0deg);
    z-index: -1;
    width: 120%;
    top: 0;
    height: 100%;
    left: -75%;
    @media (orientation: portrait) {
      height: 100vh;
    }
  }
}
