:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-tile-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;

  & > .sr-tile-cut {
    perspective: 60rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60%;
    @media (max-width: 991px) {
      box-shadow: inset 0 0 0.4rem black;
    }
    box-shadow: inset 0 0 0.5rem 0.1rem black;

    & > .sr-tile-card {
      width: 90%;
      height: 85%;
      transition: transform 500ms;
      transform-style: preserve-3d;
      box-shadow: 0 0 0.5rem black;

      & > div {
        position: absolute;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.sr-logo-face {
          background-color: cornflowerblue;
          &::ng-deep > svg {
            width: 30%;
          }
        }

        &.sr-text-face {
          background-color: sandybrown;
          transform: rotateY(180deg);
          display: flex;

          &::ng-deep > span {
            text-align: center;
            @media (max-width: 991px) {
              font-size: small;
            }
            padding: 1rem;
            font-size: large;
          }
        }
      }

      &:hover {
        transform: rotateY(180deg);
      }
    }
  }
}
