@use '@angular/material' as mat;
@use 'sass:map';
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);
@import 'sr-mat-themes';

@include mat.core();

@include mat.sidenav-theme($sr-theme);
@include mat.fab-theme($sr-theme);
@include mat.icon-button-theme($sr-theme);
@include mat.icon-theme($sr-theme);
@include mat.card-theme($sr-theme);
@include mat.progress-spinner-theme($sr-theme);
@include mat.list-theme($sr-theme);
@include mat.typography-hierarchy($sr-theme);

:host {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.entry-container {
  position: relative;
}

mat-drawer-container {
  position: relative;
  min-height: 100vh;
  background-color: transparent !important;

  & > mat-drawer.mat-drawer-over {
    background-color: rgba(map.get($sr-primary, 50), 0.9);
  }
}

.router-wrapper {
  display: flex;
  min-height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;

  & > * {
    width: 100%;
  }
}

.sr-sidenav-toggle-btn {
  position: absolute !important;
  top: 0;
  z-index: 2;
}

.sr-home-header {
  font-family: 'Roboto Serif';
  text-align: center;
  margin-bottom: 3rem;

  & > .sr-home-title {
    font-size: xxx-large;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  & > .sr-home-subtitle {
    font-size: large;
    font-weight: 600;
  }
}
