<ng-container *ngIf="(vm$ | async) as vm">
<div>
    <mat-drawer-container sr-lra-host sr-sra [hasBackdrop]="vm.isSmall">
        <mat-drawer #drawer [mode]="vm.isSmall ? 'over' : 'side'"
            [opened]="!vm.isSmall" [disableClose]="!vm.isSmall"
            (openedChange)="hideButton$.next($event)">
            <showroom-nav-list/>
        </mat-drawer>
        <mat-drawer-content>
            <button *ngIf="vm.isSmall && vm.isButtonShown" mat-fab color="accent"
                @snBtnResizeIn @snBtnResizeOut (@snBtnResizeOut.done)="buttonGone($event)"
                (click)="hideButton$.next(true)" class="sr-sidenav-toggle-btn">
                <mat-icon>left_panel_open</mat-icon>
            </button>
            <div class="router-wrapper">
                <router-outlet/>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
</ng-container>