@import "bootstrap/scss/bootstrap.scss";
:root, :host { @extend body; @extend :root}

.router-wrapper {
    min-height: 100%;
    padding-top: 6rem;
}

.sr-bs-icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    align-self: center;
}